body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333333;
    background-image: url(./img/19.jpg);
    background-position: center;
    }

    header {
        text-align: center;
    
    }

  
    h1 {
        
        margin-bottom: 10px;
        color: #005ba3;
    }

    h2 {
        font-size: 1.5em;
        font-weight: normal;
        color: #07635a;
    }


    p {
        font-size: 20px;
        line-height: 1.6;
        margin-bottom: 10px;
    }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


    .content {
        max-width: 800px;
        padding: 20px;
        text-align: center;
    }

    .image-gallery {
        display: flex;
        justify-content: center;
        gap: 20px; 
        margin-top: 20px;
    }
    
    .travel-image {
        width: 200px;  
        height: 200px;
        border-radius: 10px;
        transition: transform 0.3s; 
        cursor: pointer;
    }
    
    .travel-image:hover {
        transform: scale(1.1); 
    }